.home {

  

  header {
    @media @mobile {
      display: flex;
      flex-direction: column;
    }
    padding-bottom: 20px;
    border-bottom: 2px dashed @navigation-border;
    
    .head-img {
      border-top: 2px dashed @navigation-border;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    @media @mobile {
      // display: flex;
      flex-direction: column;
      align-items: center;
    }
    flex-wrap: wrap;
    justify-content: space-between;

   

   
    
    .text-content {
      @media @mobile {
        width: 100%;
        padd: 0;
      }
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      @media @mobile {
        width: 100%;
      }
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    @media @mobile {
      display: flex;
      flex-direction: column-reverse;
    }
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    @media @mobile {
      width: 100%;
    }
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }

    

  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    @media @mobile {
      flex-direction: column;
      align-self: center;
      justify-content: center;
      width: 100%;
    }

    .destination {
      @media @mobile {
        width: 80%;
        align-self: center;
      }
      width: 30%;
      margin-bottom: 30px;

     

      .btn{
        display: flex;
        width: 100%;
        justify-content: center;
        button {
          .dest-button(@button-bg, white);
          
      }
    }
    }
  }
}// home