// Navigation Styles here
nav{
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    
    h1{
        // border: 1px solid red;
        justify-content: flex-start;
        padding: 3% 3% 3% 0;
    }

    .links {
        // border: 1px solid red;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 45%;

        a {
            justify-content: space-evenly;
            align-self: center;
            color: black;
            text-decoration: none;
            font-size: 1.6rem;
        }
    }
}