// Navigation Styles here
nav{
    @media @mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media @tablet {
        display: flex;
        justify-content: space-between;
    }
    display: flex;
    justify-content: space-between;
    
    h1{
        @media @mobile {
            width: 40%;
        }

        @media @tablet {
            justify-content: flex-start;
        }
        justify-content: flex-start;
        padding: 3% 3% 3% 0;
        width: 30%;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        @media @mobile {        
            width: 70%;
        }
        align-items: flex-end;
        justify-content: space-between;
        width: 45%;

        a {
            
            justify-content: space-evenly;
            align-self: center;
            color: black;
            text-decoration: none;
            font-size: 1.6rem;
        }
    }
}